*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

header{
    display: flex;
    gap: 40px;
    background-color: #777;
    width: 100vw;
    height: 120px;
}

.logo{
   display: flex;
   gap: 50px;
}

.in{
    margin-left: 5%;
    padding: 30px 0;
}
.div1{
    display: flex;
    background-color: #999; 
    width: 450px; 
    height: 30px; 
    border-radius: 10px;
    margin-top: 8%;
}

input{
    position: relative;
    width: 370px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    background-color: #999;
    margin-left: 8%;
    border-radius: 10px;
    height: 30px;
    color: #000;
} 

label{
    position: absolute; 
    top: 10%; 
    margin-left: 0.5%;
    border-right: 2px solid #888;
}

.navbar ul{
    list-style-type: none;
    padding: 40px 0;
    
}

ul li{
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 12px;
}
li a{
    text-decoration: none;
    color: #00f;
    text-align: center;

    transition: all .4s ease;
}

li a:hover{
    color: #fff;
}

span{
    margin-left: 22%;
    transition: all .5s ease-in-out;  
}

span img:hover{
    color: #00f;
}

img{
    color: #fff;
}

.menu-bar{
    padding: 45px 0;
}


.span{
    margin-left: 4%;
}

.menu-bar a{
    color: #00f;
    text-decoration: none;
}

.menu-bar a:hover{
    color: #fff;
}

main{
    display: flex;
    gap: 10px;
    width: 900px;
    height: auto;
    margin: auto;
}

section{
    width: 73%;
    height: 400px;
    background-color: #888;
}

.capa{
    width: auto;
    height: 200px;
    background-color: #0f05; 
    background-image: url('inova.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}

.perfil{
    position: absolute;
    display: flex;
    gap: 80px;
    

    h4{
        color: #fff;
        font-size: 1.4rem;
    }
    p{
        color: #fff;
        line-height: 1.5rem;
    }
    img{
        border-radius: 50%;
    }
}

.perfil-right{
    display: flex;
}

.icon-image{
    margin-bottom: 5%;
}

.habilidade-word{
margin-top: 26px;
}

.habilidade-word p{
    padding: .6rem;
}

article{
    width: 30%;
    height: auto;
    background-color: #555;
}

.sec1{
    margin-left: 12.3%;
    margin-top: 1%;
    width: 53%;
    height: 200px;
    display: flex;
   gap: 12px;
}

.sec1-element{
    width: 30%;
    height: 180px;
    background-color: #777;
    margin: 1%;
    padding: 12px;
    overflow: hidden;
    transition: all .5s ease-out;
}

.sec1-element:hover{
    background-color: #000;
    cursor: pointer;
    
}

h3{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4%;
}
.p-1{
    text-align: justify;
    line-height: 1.2rem;
    text-indent: 40px;
}

.p-1:hover{
    color: #0f05;
}

.section2{
    background-color: #777;
    margin-left: 12.3%;
    margin-top: 1%;
    width: 53%;
    height: auto;
}

.actividade{
    width: 100%;
    height: 140px;
    padding: 12px;
    margin-bottom: 2%;
    background-color: #555;
}

h2{
    color: #fff;
    font-size: 1.2rem;
    margin: 1%;
}

p{
    text-align: justify;
    text-indent: 40px;
    font-size: 1.2rem;
}
.sobre{
    width: 100%;
    height: 140px;
    padding: 12px;
    background-color: #777;
}